.information {
	&__item {
		& > span {
			margin-right: 10px;
		}

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		&.date {
			font-size: 18px;
			font-weight: bold;
			justify-content: center;
			color: #1890ff;

			& > span {
				margin-right: 10px;
			}
		}
	}
}
