@import '../../../../../assets/styles/all.scss';
.home {
	// @include largeDesktop {
	// 	background-image: url('../../../../../assets/images/desktop.svg');
	// }
	// @include smallDesktop {
	// 	background-image: url('../../../../../assets/images/desktop.svg');
	// }
	// @include tabletAndDesktop {
	// 	background-image: url('../../../../../assets/images/tablet.svg');
	// }
	// @include tablet {
	// 	background-image: url('../../../../../assets/images/tablet.svg');
	// }
	// @include mobile {
	// 	background-image: url('../../../../../assets/images/mobile.svg');
	// }

	background-image: url('../../../../../assets/images/bacground-01.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	& > * {
		padding-top: 3.25rem;
		padding-bottom: 3.25rem;
		margin-left: 10%;
		margin-right: 10%;

		width: calc(100% - 20%);

		@include tablet {
			margin-left: 2%;
			margin-right: 2%;
			width: calc(100% - 4%);
		}
		@include mobile {
			margin-left: 2%;
			margin-right: 2%;
			width: calc(100% - 4%);
		}
		@include tabletAndDesktop {
			margin-left: 2%;
			margin-right: 2%;
			width: calc(100% - 4%);
		}
	}
}

#booking {
}
