@import '../../../../../../../assets/styles/all.scss';

.ant-table-thead > tr > th {
	&:last-child {
		border-radius: 0 8px 0 0 !important;
	}

	&:first-child {
		border-radius: 8px 0 0 0 !important;
	}
}

.ant-table {
	background-color: transparent;
	color: #ffffff;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
	transition: 1s all;
	color: #333;

	&:last-child {
		@include animated-btn($primary-text-color, $button-color, $primary-text-color, 0px, y-rotate);

		&:hover {
			& > div > div > button {
				color: #333 !important;
			}
		}
	}
}
