@import '../../../../../assets/styles/all.scss';

.banner {
	width: 100%;

	transition: all 1s;
	min-height: 100vh;

	@include tablet {
		width: 100%;
		margin: auto;
		min-height: calc(850px + 3.25rem);
	}
	@include mobile {
		width: 100%;
		margin: auto;
		flex-direction: column;
		min-height: calc(775px + 3.25rem);
	}

	&__info {
		text-align: start;
		width: 50%;

		&.animation {
			position: relative;
			animation-name: showContent-right;
			animation-timing-function: linear;
			animation-duration: 1s;
		}
		@include tabletAndDesktop {
			width: 85%;
			text-align: center;
			margin: 1rem auto;
		}
		@include tablet {
			width: 85%;
			text-align: center;
			margin: 1rem auto;
		}
		@include mobile {
			text-align: center;
			width: 85%;
			margin: 1rem auto;
		}

		& > .info {
			&__title {
				transition: all 1s;
				@include mobile {
					font-size: 1.75rem;
					margin-bottom: 0.4rem;
				}
				@include tablet {
					font-size: 2.5rem;
					margin-bottom: 0.6rem;
				}
				@include tabletAndDesktop {
					font-size: 2.5rem;
					margin-bottom: 0.8rem;
				}
				@include smallDesktop {
					font-size: 2rem;
					margin-bottom: 1rem;
				}
				@include largeDesktop {
					font-size: 2.75rem;
					margin-bottom: 1rem;
				}
			}

			&__description {
				word-wrap: break-word;
				font-family: $body-font;
				transition: all 1s;
				@include mobile {
					font-size: 1rem;
					margin-bottom: 2rem;
				}
				@include tablet {
					font-size: 1.5rem;
					margin-bottom: 2rem;
				}
				@include tabletAndDesktop {
					font-size: 1.2rem;
					margin-bottom: 0.8rem;
				}
				@include smallDesktop {
					font-size: 1.2rem;
					margin-bottom: 1.5rem;
				}
				@include largeDesktop {
					font-size: 1.5rem;
					margin-bottom: 2rem;
				}
			}

			&__btn {
				& > a {
					text-align: center;
					width: 100%;
					transition: all 1s;
					@include boxShadow;
					@include mobile {
						font-size: 2rem;
						padding: 0.2rem 2rem;
						display: block;
					}
					@include tablet {
						font-size: 3rem;
						padding: 0.3rem 2.2rem;
						display: block;
					}
					@include tabletAndDesktop {
						font-size: 1.5rem;
						padding: 0.4rem 2.5rem;
					}
					@include smallDesktop {
						font-size: 1.5rem;
						padding: 0.5rem 3rem;
					}
					@include largeDesktop {
						font-size: 2rem;
						padding: 0.5rem 5rem;
					}

					@include animated-btn($button-color, $primary-text-color, $button-color, 5px, x);
				}
			}
		}
	}

	&__img {
		width: 40%;

		@include mobile {
			width: 100%;
		}

		& > img {
			width: 100%;
		}

		&.animation {
			position: relative;
			animation-name: showContent-right;
			animation-timing-function: linear;
			animation-duration: 1s;
		}
	}
}

@keyframes showContent-right {
	from {
		bottom: -100px;
	}
	to {
		bottom: 0;
	}
}

@keyframes showContent-left {
	from {
		right: 10rem;
	}
	to {
		right: 0;
	}
}
